@font-face {
    font-family: 'VTC Du Bois';
    src: url('/fonts/VTCDuBois-Regular.woff2') format('woff2'),
         url('/fonts/VTCDuBois-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'VTC Du Bois';
    src: url('/fonts/VTCDuBois-Bold.woff2') format('woff2'),
         url('/fonts/VTCDuBois-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker {
    background-image: url("https://docs.mapbox.com/mapbox-gl-js/assets/pin.svg");
    background-size: cover;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 500px;
    font: 10px/20px Public Sans;
    color: #654321;
    font-size: 20px;
}
.calculation-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    background-color: #ffe8da;
}

h1.title {
    align-self: stretch;
    color: #654321;
    text-align: center;
    font-family: VTC Du Bois;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
  }
  
p.subtitle {
    height: 3.9375rem;
    flex: 1 0 0;
    color: #654321;
    text-align: center;
    font-family: Public Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.29375rem */
    margin-top: 0;
  }